<div class="header-wrapper">
<header>
    <div class="container">
        <div class="logo-container">
            <!-- Website Logo -->
            <a href="/" title="fainle">
                <img src="logo.png" alt="Knowledge Base Theme">
            </a>
            <span class="tag-line">开始即是结束...</span>
        </div>
        <!-- Start of Main Navigation -->
        <div class="blog-masthead">
          <div class="container">
            <nav class="blog-nav">
              <a class="blog-nav-item active" href="#">Home</a>
              <a class="blog-nav-item" href="#">New features</a>
              <a class="blog-nav-item" href="#">Press</a>
              <a class="blog-nav-item" href="#">New hires</a>
              <a class="blog-nav-item" href="#">About</a>
            </nav>
          </div>
        </div>
        <!-- End of Main Navigation -->
    </div>
</header>
</div>