<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">Fainle's Blog</a>
      {% if 'about' in request.path %}
        {% set about_class="active" %}
      {% elif 'category' in request.path %}
        {% set category_class="active" %}    
      {% else %}
        {% set index_class="active" %}
      {% endif %}
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="{{ index_class }}">
            <a href="/">首页</a>
          </li>
          {% if g.category%}
          <li class="dropdown {{ category_class }}">
            <a href="###" class="dropdown-toggle" data-toggle="dropdown">
              分类<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              {% for c in g.category %}
              <li>
                <a href="/category/{{ c.id }}">{{ c.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endif %}
          <li class="{{ about_class }}">
            <a href="/about/blog">关于</a>
          </li>
        </ul>
        {% if g.user_id %}
        <p class="navbar-text pull-right">
          <a href="/user/{{ g.user_id }}" class="navbar-link">{{ g.nickname }}</a>
          {% if g.user_id == 1 %}
          <a href="/admin" class="navbar-link">管理</a>
          {% endif %}
          <a href="/user/logout?next={{ request.path }}" class="navbar-link">退出</a>
        </p>
        {% else %}
        <p class="navbar-text pull-right">
          <a href="/user/register" class="navbar-link">注册</a>
          <a href="/user/login?next={{ request.path }}" class="navbar-link">登录</a>
        </p>
        {% endif %}
      </div>
      <!--/.nav-collapse --> </div>
  </div>
</div>


<div class="header-wrapper">
<header>
    <div class="container">
        <div class="logo-container">
            <!-- Website Logo -->
            <a href="/" title="fainle">
                <img src="logo.png" alt="Knowledge Base Theme">
            </a>
            <span class="tag-line">开始即是结束...</span>
        </div>
        <!-- Start of Main Navigation -->
        <nav class="main-nav">
            <div class="menu-top-menu-container">
                <ul id="menu-top-menu" class="clearfix">
                    <li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-6 current_page_item menu-item-11">
                        <a href="saved_resource.html">Home</a>
                    </li>
                    <li id="menu-item-220" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-220"><a href="http://knowledgebase.inspirythemes.com/#">More</a>
                        <ul class="sub-menu">
                            <li id="menu-item-219" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-219"><a href="http://knowledgebase.inspirythemes.com/faqs/">FAQs</a></li>
                            <li id="menu-item-244" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-244"><a href="http://knowledgebase.inspirythemes.com/full-width/">Full Width</a></li>
                            <li id="menu-item-243" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-243"><a href="http://knowledgebase.inspirythemes.com/elements/">Elements</a></li>
                            <li id="menu-item-5" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5"><a href="http://knowledgebase.inspirythemes.com/sample-page/">Sample Page</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End of Main Navigation -->
    </div>
</header>
</div>


<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="#">Home</a>
      <a class="blog-nav-item" href="#">New features</a>
      <a class="blog-nav-item" href="#">Press</a>
      <a class="blog-nav-item" href="#">New hires</a>
      <a class="blog-nav-item" href="#">About</a>
    </nav>
  </div>
</div>