{% extends "/layout/base.html" %}
{% block title %}首页{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<h4>分类</h4>
{%for c in categorys -%}
<a style="margin: 10px 5px 10px 0;" class="btn btn-default" href="/c/{{ c.id }}">{{ c.name }} <span class="badge">{{ c.num }}</span></a>
{% endfor -%}
<h4>标签</h4>
{%for t in tags -%}
<a style="margin: 10px 5px 10px 0;" class="btn btn-default" href="/t/id/{{ t.id }}">{{ t.name }} <span class="badge">{{ t.num }}</span></a>
{% endfor -%}
{% endblock%}