{% extends "/layout/base.html" %}
{% block title %}首页{% endblock %}
{% block css %}<link href="/static/css/highlight/default.css" rel="stylesheet">{% endblock %}
{% block content %}
<h3>{{ topic.title }}
{%if g.user_id == 1 -%}
    <small><a href="/topic/add/{{ topic.id }}">编辑</a> | <a href="/topic/add">新建</a></small>
{% endif -%}
</h3>
<hr />
{{ topic.content | markdown2html | safe }}
<hr />
<p>
{%if topic.tag -%}
{% for tagname in topic.tag|string_split -%}
<a class="btn btn-default" href="/t/{{ tagname }}">{{ tagname }}</a>
{% endfor -%}
{% endif -%}
</p>
{% endblock%}
{% block js %}
	<script src="/static/js/highlight.pack.js"></script>
	<script type="text/javascript">
	    hljs.initHighlightingOnLoad();
	</script>
{% endblock js%}