body {
    padding-top: 70px;
    padding-bottom: 30px;
    min-width: 970px;
    height: 100%;
    color: #162029;
    background-color: #F6F7F9;
}

body, ul, li{
    font-size: 14px;
}

/* header */
.navbar{
    background-color: #E4EBF1;
    border-color: #CFDAE5;
}

.navbar-logo{
    color: #2D4053;
    float: left;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    padding: 15px 15px 15px 0;
}
/* header end */

/* nav */
.nav > li > a:hover,
.nav > li > a:focus,
.nav > .active > a,
.nav > .active > a:hover,
.nav > .active > a:focus {
    color: #ffffff !important;
    background-color: #cedae5 !important;
}
/* nav end */

/* container */
.container {
    max-width: none !important;
    width: 970px;
}
/* container end */

p, pre, pre.prettyprint, blockquote {
    margin: 0 0 15px;
}

blockquote {
    background-color: rgba(102, 128, 153, 0.05);
    border-bottom-right-radius: 5px;
    border-left-width: 10px;
    border-top-right-radius: 5px;
    padding: 15px 20px;
}

blockquote {
    border-left: 5px solid rgba(102, 128, 153, 0.075);
    margin: 0 0 20px;
    padding: 10px 20px;
}