body {
    padding-top: 70px;
    padding-bottom: 30px;
    min-width: 970px;
    height: 100%;
    color: #162029;
    background-color: #F6F7F9;
}

/* header */
.navbar{
    background-color: #E4EBF1;
    border-color: #CFDAE5;
}

.navbar-logo{
    color: #2D4053;
    float: left;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    padding: 15px;
}
/* header end */

.nav > li > a:hover,
.nav > li > a:focus,
.nav > .active > a,
.nav > .active > a:hover,
.nav > .active > a:focus {
    color: #ffffff !important;
    background-color: #cedae5 !important;
}